*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.Signup__container {
  background-color: #080710;
  display: flex;
  justify-content: center;
  align-self: center;
  min-height: calc((100vh - 90px) + 100px);
}

.Signup__form {
  height: 615px;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 10px 20px;
}
.Signup__form {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
}
.Signup__h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

.Signup__label {
  display: block;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
}
.Signup__input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
  outline: none;
  border: none;
  color: #fff;
}
.Signup__container *::placeholder {
  color: #d3d3d3;
}
.Signup__btn {
  margin-top: 25px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  border: none;
}
.Signup__social {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Signup__social div {
  width: 160px;
  border-radius: 3px;
  padding: 8px 5px;
  background-color: rgba(255, 255, 255, 0.27);
  color: #eaf0fb;
  text-align: center;
}
.Signup__social div:hover {
  background-color: rgba(255, 255, 255, 0.47);
}
.Signup__social .Signup__fb {
  margin-left: 25px;
}
.Signup__social i {
  margin-right: 4px;
}
.Signup__social .Signup__go,
.Signup__social .Signup__fb {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Signup__social .Signup__go i,
.Signup__social.Signup__fb i {
  font-size: 1.4rem;
}
